.ts5prichin
{
	font-family: ubuntu-n3, sans-serif;
}

#u128-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u132-4
{
	font-family: ubuntu-i3, sans-serif;
}

#pu1240.PamphletThumbSelected #u1241-4 p,#u997-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u161-9,#u188-8,#u200-5,#u201-6,#u160-12,#u156-8,#u492,#u1022-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1021-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1027-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1030-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u356-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1006-4,#u293,#u372-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u373-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u366-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u367-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1090-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u395-4,#u596,#u1105-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1107-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1119-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1120-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1169-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1122-4,#u701,#u1140-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1142-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1150-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1147-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1213-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1161-4,#u911,#u1181-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1178-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1196-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1197-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1479-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1198-4,#u1470,#u1489-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1491-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1500-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1498-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1241-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1243-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1245-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1276-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1277-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1467-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2563-23,#u2574-4,#u2584-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u2588-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u2573-6,#u2247-4,#u2274-4,#u2301-4,#u2362-4,#u2363-4
{
	font-family: ubuntu-i7, sans-serif;
}

#u2271-4,#u2248-4,#u2275-4,#u2276-4,#u2303-4,#u2302-4,#u2420-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u2427-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u2600-2,#u106-6,#u146-4,#u161-2,#u188-2,#u188-4,#u200,#u201-2,#u160-2,#u160-6,#u156-2,#u156-4,#u204-4,#u489-4,#u490-4,#u290-4,#u292-4,#u593-6,#u595-4,#u649-4,#u650-4,#u908-4,#u909-4,#u1516-4,#u1469-4,#u1285-4,#u1330-4,#u1333-4,#u1346-4,#u1349-4,#u1352-6,#u2575-4,#u2175-4,#u2331-4,#u2473-4,#u2474-2,#u2432-4,#u2392-2,#u2431-4,#u2433-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u1483-4,#u1347-5,#u1350-3,#u1353-3,#u2551-6
{
	font-family: ubuntu-n3, sans-serif;
}

#u2543-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2542-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u2528-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2530-3
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu126_input,#widgetu126_prompt,#widgetu131_input,#widgetu1020_input,#widgetu1026_input,#widgetu371_input,#widgetu365_input,#widgetu1103_input,#widgetu1117_input,#widgetu1139_input,#widgetu1146_input,#widgetu1177_input,#widgetu1193_input,#widgetu1487_input,#widgetu1496_input,#widgetu2580_input,#widgetu2580_prompt,#widgetu2585_input,#widgetu2419_input,#widgetu2419_prompt,#widgetu2424_input,#widgetu2541_input,#widgetu2527_input
{
	font-family: ubuntu, sans-serif;
}

#u2548-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u303-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u319-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u320-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u313-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u314-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u329-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u330-3
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu318_input,#widgetu312_input,#widgetu326_input
{
	font-family: ubuntu, sans-serif;
}

#u342-4,#u340-4
{
	font-family: ubuntu-n3, sans-serif;
}

