html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background-color: #8a8a8a;
	margin: 0px;
	padding: 0px;
	color: #7f7f7f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	width: 100%;
	background: url(../image/back.jpg) no-repeat fixed center top;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1 {
	color: #292929;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
margin: 15px 0;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}
h2 {
	color:#636262;
	font-size:14px;
	margin-top: 0px;
	margin-bottom:10px;
	font-weight:normal;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #757475;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}

/* layout */

#content {

}
#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#notification {
width:1000px;
height:55px;
}
#column-left {
	float: left;
	width:307px;
}
#column-right {
	float: right;
	width:307px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left:315px;
}
.common-home #content {
	padding:0px;
	margin:0;
	background:none;
	border:0
	}
#column-right + #content {
	margin-right:315px;
	
}

.box .box-content .box-product ul li .inner {
width: 200px;
margin: 0 auto;
}
.clear {
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}
/* header */
#top {
	height: 30px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #F8F8F8;
}

#header {
	height: 50px;
	padding-bottom: 5px;
	position: relative;
	z-index: 99;
	background:#181818;
	border-bottom:1px solid #3d3d3d;
}
#header #logo {
	position: absolute;
	top: 33px;
	left: 15px;
}
#language {
	position: absolute;
	top: 59px;
	left: 360px;
	width: 108px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
	padding-left:5px;
}
#currency {
	width: 120px;
	position: absolute;
	top: 56px;
	left: 500px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#cart {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9;
	min-width: 300px;
}
#cart .heading {
	float: right;
	position: relative;
	z-index: 1;
}
#cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#cart .heading a {
	text-decoration: none;
	display: block;
	color: #373737;
	font-size: 12px;
	background: url(../image/cart.png) no-repeat 0 bottom;
	width: 50px;
	height: 50px;
}
#cart .heading a:hover  {
background-position:left top;
}
#cart .heading a span {
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
	margin-left:30px;
	line-height: 30px;
}
#cart .content {
	clear: both;
	display: none;
	position: relative;
	top: 2px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
#cart.active .heading {
font-weight:700;	
}
#cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#cart .checkout {
	text-align: right;
	clear: both;
}
#cart .empty {
	padding-top: 50px;
	text-align: center;
}
#search {
	position: absolute;
	top: 5px;
	right: 220px;
	width: 180px;
	z-index: 7;
}
.button-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 180px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;


}
#welcome {
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 5;
	width: 298px;
	text-align: left;
	color: #999999;
}
#welcome a{
	color: #000;
}
.links {
	position: absolute;
	left: 290px;
	top: 8px;
	font-size: 10px;
	padding-right: 10px;
	z-index:11;
}
.links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #000;
	text-decoration: underline;
	font-size: 12px;
}
.links a:hover {
	text-decoration: none;
}
.links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* UL */
ul {
list-style: none;
margin: 0;
padding: 0;
}
/* advantage */
#content #advantage {
	height:120px;
	width:1000px;
}
#advantage .box {
	float: left;
	height: 120px;
	width: 247px;
	background: #333;
	margin: 0 2px;
	
}

#advantage .first {
	margin-left:0px;
}

#advantage .last {
	margin-right:0px;
}

#advantage .box img, #advantage .box a{
	display:block
	}
#advantage .box img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	}
/* MEGA-MENU */

#menu_holder {
width: 100%;
position: relative;
}
.menu {
width:1000px;
min-height:50px;
clear:both;
padding:0px;
margin-bottom: -17px;
text-transform: uppercase;
position: fixed;
top: 0px;
z-index: 1000;
background-color: #161616;
height: 50px;
}

.menu ul#topnav {
margin:0;
padding:0;
display:block;
width:100%;
min-height:50px;
position:relative;
}
.menu ul#topnav li {
display: block;
float: left;
list-style: none;
margin:0;
z-index:1099;
height: 50px;
line-height: 20px;
background: url(../image/separator.png) no-repeat left top;
}


.menu ul#topnav li.dropdown {

}
.menu ul#topnav li a {
color: #FFFFFF;
display: block;
float: left;
font-size: 14px;
padding: 9px 15px;
text-decoration: none;
line-height: 30px;
}
.menu ul#topnav li:hover {
z-index:1600;
background:#000;
}
.menu ul#topnav li:hover a {

}
.menu ul#topnav li.dropdown:hover a {

}
.menu ul#topnav ul.children {
position:absolute;
display:none;
width:1000px;
top:50px;
left:0;
z-index:9998;
padding:5px 0 5px 0;
margin:0;
float:left;
background:#000;
border-bottom: 1px solid #161616;

}
.menu ul#topnav ul.children2 {
position:absolute;
display:none;
top:43px;
left:0px;
z-index:9999;
padding:5px 0px;
margin:0;
float:left;
background-color:#fff;
width:100%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
border-radius: 5px;
box-shadow: 0px 0px 5px #999999;
-moz-box-shadow: 0px 0px 5px #999999;
-webkit-box-shadow: 0px 0px 5px #999999;
}
.menu ul#topnav ul.children li {
width:115px;
float: left;
min-height:160px;
border: 1px solid #535353;
position: relative;
margin: 2px;
padding: 2px;
background:#000;
}
.menu ul#topnav ul.children li:hover {
background:#161616;
}
.menu ul#topnav ul.children li img {
margin: 0;
}
ul.children li a span {
display: block;
text-align:center;
line-height:20px;
padding:0;
margin:0;
}
.menu ul#topnav ul.children2 li {
float:left;
height:auto;
border-bottom:1px solid #f1f1f1;
position:relative;
margin:0;
padding:0;
width:100%;
}
.menu ul#topnav ul.children a, .menu ul#topnav li:hover ul.children a {
display: block;
height: auto;
width: 100%;
padding: 0px 0px 2px 0px;
float: left;
font-size: 12px;
font-weight: normal;
background: none;
text-align: left;
text-transform: none;
color: #333;
border: none;
margin: 0;
}
.menu ul#topnav ul.children2 a, .menu ul#topnav li:hover ul.children2 a {
display:block;
height:auto;
width:285px;
padding:10px 8px 10px 13px;
float:left;
font-size:12px;
font-weight:normal;
background:none;
text-align:left;
text-transform:none;
color:#333;
border:none;
margin:0;
}
.menu ul#topnav li:hover .children li ul.children2 a {
color:#222;
}
.menu ul#topnav li:hover .children li ul.children2 a:hover {
color:#666666;
/* background-color:#f1f1f1; */
}
.menu ul#topnav ul.children li.dropdown, .menu ul#topnav li:hover ul.children li.dropdown {
background:url(../image/arrow-down.png) 270px 16px no-repeat;
}
.menu ul#topnav ul.children li a:hover {
color:#cecece;
}
.menu ul#topnav ul.children li.pic_name {
padding:5px 5px 35px 5px;
border-bottom:1px solid #e1e1e1;
width:970px;
height:75px;
margin:0 0 5px 0;
display:block;
}
.menu ul#topnav ul.children li.pic_name img {
float:left;
margin:0 10px 0 0;
}
.menu .phone {
position: absolute;
top: 0;
right: 0;
}
.menu .phone span {
display: inline-block;
margin-top: 16px;
margin-right: 68px;
font-size: 24px;
font-weight: 600;
color: #fff;
}
.menu ul#topnav li.home {
background:url(../image/home.png) no-repeat top left;
width:50px;
height:50px;
}
.menu ul#topnav li.home:hover {
background:url(../image/home.png) no-repeat right bottom,url(../image/separator.png) no-repeat right top;
}
.menu ul#topnav li.home a {
display:inline-block;
width:50px;
height:50px;
padding:0;
}
/* MEGA-MENU */
/* menu */
#menu {
	background: url(../image/menu.png) repeat-x left top #161616;
	height: 40px;
	text-transform: uppercase;
	position: fixed;
	top: 0px;
	z-index: 1000;
	width: 1000px;
	height: 50px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 50px;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	height: inherit;
	background: url(../image/separator.png) no-repeat left top;
}
#menu > ul > li:first-child {
	background: none;
	margin-left:0px;
}
#menu > ul > li:hover {
}
#menu > ul > li > a {
	display: block;
	z-index: 1;
	position: relative;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 50px;
	margin-left: 2px;
	min-width: 120px;
	text-align: center;
	height: inherit;
}
#menu > ul > li:hover > a {
	background: url(../image/menu-hover.png) repeat-x left top #121212;
	color: #414141;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #000000;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: url('../image/menu.png');
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #000000;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
#content .breadcrumb {
	color: #ffffff;
	font-size: 15px;
	background: url(../image/heading-3.png) repeat-x left top #494949;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding: 16px 25px;
	margin-bottom: 7px;
}

#content .breadcrumb a {
color:#fff;
text-decoration:none;
}

#content .breadcrumb a:hover {
text-decoration:underline;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;

}
.success {
	background: #fff url('../image/success.png') 10px center no-repeat;
	margin-top:55px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: left;
	padding-top: 3px;
	color: #aaa;
}
/* button */
a.button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: url('../image/button.png') repeat-x left top;
	font-size:12px;
	line-height:18px;
	}
a.button span {
	color: #fff;
	display: inline-block;
	padding:8px 12px;
	white-space:nowrap;
	font-size:12px;
	line-height:18px;
	text-transform:uppercase;
	font-weight:normal;
}
a.button:hover {
	background-position:0 bottom;
}
a.button:hover span {
	color:#fff;
}
.buttons {
overflow: auto;
margin: 20px 0 0;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding-top:15px;
	clear:left;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/* box */
#content .cat-box-heading {
background: url(../image/heading-3.png) repeat-x left top #494949;

padding: 16px 26px;

margin-bottom: 7px;
}
#content .cat-box-heading h2{
color:#fff;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
margin-bottom:0px;
}
.box {
	margin-bottom: 10px;
}
.box .box-heading {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	background: url(../image/heading.png) repeat-x left top #0e0e0e;
	color: #747474;
	padding: 16px 26px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 7px;
	}
.box .box-content {
	overflow:hidden;
}
/* box products */
.box-product {
	border: 1px solid #d9d9d9;
	margin: 0;
	padding: 0 4px;
	background-color: #fff;
	overflow: hidden;
}
.box .box-content .box-product ul li {
float: none;
text-align: left;
position: relative;
background: #fff;
padding: 5px 3px 35px;
}
.box .box-content .box-product ul li:first-child {
border-left:0px;
}

#column-left   .box-product > div , #column-right .box-product > div{
	width: 155px;
	margin-right: 0px;
}

#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .image2 {
display: block;
text-align: center;
background: url(../image/bg-img.png) repeat-x left top #fff;
text-align: center;
padding: 23px 0 27px;
}

.box-product .name {
margin-bottom: 5px;
}
.box-product .name a {
	font-size: 12px;
	color: #8e8e8e;
	text-decoration: none;
	line-height: 18px;
	text-transform: uppercase;
}
.price {
	font-size: 19px;
	color: #3f3f3f;
	font-weight: normal;
}
.box-product .price {
	text-align: left;
	margin-bottom: 20px;
}
.price .price-old {
text-decoration: line-through;
color: #b7b7b7;
font-weight: normal;
font-size: 19px;
}
.box-product .price-old {
	margin-left: 5px;
}
.box-product .price-new {
	color: #3f3f3f;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.box-category > li {
	padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	font-weight: bold;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.box-category > li ul > li > a.active {
	font-weight: bold;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 11px;
	background-color: #fff;
	padding: 20px 42px;
	margin-top: 7px;
	border: 1px solid #DBDBDB;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
}

.category-list {
	overflow: auto;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 25px;
	margin-top: 5px;
	border: 1px solid #DBDBDB;
}
.category-list ul {
	padding-left:0px;
}
.category-list ul li {
	border: 3px solid #D9D9D9;
	text-align:center;
	float: left;
	list-style:none;
	line-height:16px;
	width:22%;
	padding:10px 5px 5px 5px;
	margin-bottom:10px;
	margin-right:10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.category-list ul li:hover {
border:3px solid #000;
}
.category-list ul li a{
display: inline;
text-transform:uppercase;
text-decoration:none;
}
.category-list ul li span{
display:block;
height:30px;
}
.category-list ul li  img{}

/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	background: #e9eaea;
	padding: 14px 22px;
	overflow: auto;
	margin-bottom: 0px;
	background: url("../image/heading-3.png") repeat-x scroll left top #494949;
	color: #FFFFFF;
}
.product-filter .display {
	float: right;
	color: #aaaaaa;
	height: 24px;
}
.product-filter .display a {
	font-weight: bold;
}

.product-filter .sort {
	float: left;
	color: #aaaaaa;
	font-size: 11px;
	font-weight: bold;
}
.product-filter .limit {
	margin-left: 13px;
	float: left;
	color: #aaaaaa;
	font-size: 11px;
	font-weight: bold;
}
.product-compare {
	padding: 3px 0 0 10px;
	font-weight: normal;
	margin-bottom: 0px;
	font-size: 12px;
	float: left;
	
}
.product-filter .product-compare a:hover {
color: #fff;
}
.product-filter .product-compare a {
text-decoration: none;
font-size: 12px;
color: #aaaaaa;
}
.product-list .left {
	overflow:hidden;
}
.product-list .right {
	float: right;
	text-align:left;
	min-height:164px;
	width:120px;
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #e9e8e8
}
.product-list ul li:first-child {margin-top:0; padding-top:0; border-top:0;}
.product-list ul li {
	overflow:hidden;
	border-top:1px solid #e9e8e8;
	margin-top:20px;
	padding-top:18px;
}
.product-list .image {
	float: left;
	margin-right:20px;
}
.product-list .name {
	margin-bottom:10px;
}
.name a:hover {
color: #555555;
}
.name a {
font-size: 12px;
color: #8e8e8e;
text-decoration: none;
line-height: 18px;
text-transform: uppercase;
}
#list_b {
	background: url("../image/list_a.png") no-repeat scroll 0 top transparent;
	display: inline-block;
	height:16px;
	margin-left:8px;
	margin-right:5px;
	width:16px;
	float:left;
	margin-top:4px;
}
#grid_a {
	background: url("../image/grid_a.png") no-repeat scroll 0 bottom transparent;
	display: inline-block;
	height:16px;
	text-indent: -9999px;
	width:16px;
	float:left;
	margin-top:4px;
}
.product-filter .display b {
	float:left;
	padding-top:3px;
	font-size:11px;
	font-weight:bold;
}
#list_a {
	background: url("../image/list_a.png") no-repeat scroll 0 bottom transparent;
	display: inline-block;
	height:16px;
	margin-left:8px;
	margin-right:5px;
	text-indent: -9999px;
	width:16px;
	float:left;
	margin-top:4px;
}
#grid_b {
	background: url("../image/grid_a.png") no-repeat scroll 0 top transparent;
	display: inline-block;
	height:16px;
	width:16px;
	margin-top:4px;
}
.product-list .description {
	overflow:hidden;
	margin-bottom: 5px;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float:left;
	margin-bottom:20px;
}
.product-list .price-old, .product-list .price-old {
	font-weight:normal;
}
.product-list .price-tax {
	font-size: 11px;
	color:#414141;
	font-weight: normal;
	padding-top:5px;
	display:block;
}
.product-list .cart {
	margin-bottom:10px;
}
.product-list .wishlist, .product-list .compare {
	position:relative;
	display:none;
	}
.product-list .wishlist a {
}
.product-list .compare a {
}

.product-grid {
	margin-top: 7px;
	overflow: hidden;
}


.product-list {
	margin-top:7px;
	background-color:#fff;
	padding:37px 25px;
	border:1px solid #dbdbdb;
}
.product-grid ul li {
	float:left;
	width:180px;
	text-align:left;
	position:relative;
	margin-bottom:7px;
	margin-right:6px;
	padding:20px;
	border: 1px solid #D9D9D9;
	background-color:#fff;
}
.product-grid ul li.first-in-line {
	clear: left;
}
.product-grid ul li.last-in-line {
	margin-right:0px;
}
.extra-prod input {
	padding-bottom:4px;
}
.extra-prod {
	padding-top:6px;
}
.or {
	padding-top:3px;
}
#tab-related .box-product > div {
	width:100px;
	float:left;
	margin-right:20px;
}
.wishlist a:hover {
	background: url(../image/iconimage.png) no-repeat 0px -27px;
}
.addtowishlist, div.wishlist > a {
	float: left;
	background: url(../image/iconimage.png) no-repeat 0px 0px;
	height: 27px;
	overflow: hidden;
	text-indent: -9999px;
	width:27px;
	}
.compare a:hover {
	background: url(../image/iconimage.png) no-repeat -34px -27px;
}
.addtocompare, div.compare > a {
	background: url(../image/iconimage.png) no-repeat -34px 0px;
	float: left;
	height:27px;
	overflow: hidden;
	text-indent: -9999px;
	width:27px;
	margin-left:3px;
	margin-right:3px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin:0 0 15px 0;
	text-align:center;
}
.product-grid div:hover .image img {
}
.product-grid .image img {
}
.product-grid .name {
	text-align:center;
	min-height:36px;
	padding:0px 0px 5px;
}
.product-grid .name a, .product-list .name a {
}
.product-grid .description {
	height:33px;
	overflow:hidden;
	margin-bottom:10px;
	padding:0 0px;
}
.product-grid .price {
	
	}
.product-grid .rating {
	display: block;
	height:13px;
	margin-bottom:10px;
	
}
.product-list .price, .product-grid .price {
	display: block;
	min-height:30px;
	margin-bottom:0px;
}
.product-list .price br {display:none}
.product-list .price {
	margin-bottom:10px;
	line-height:normal;
}
.product-grid .price-old {
	text-decoration: line-through;
}
.product-grid .price-old, .product-grid .price-new {display:inline-block !important}
.product-list .price-new, .product-grid .price-new {
	display:block;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .price-old {
	font-weight:normal;
	margin-left:10px;
}
.product-grid .cart {
	margin:0 auto;
	width:72px;
}
.product-grid .wishlist, .product-grid .compare {
	display:none;
	margin-bottom: 0px;
	margin-top:4px;
	float:right;
	position:relative;
}
.product-grid .tooltip, .product-grid .tooltip2 {
	bottom:28px;
}
/* Product */
.product-info {
	padding-bottom: 7px;
margin-top: 7px;
background-color: #fff;
padding: 10px;
}
.product-info h1{
padding-left: 0;
line-height: 30px;
margin: 0;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
	padding: 6px 6px 2px 6px;
	margin-left: 1px;
	background: #f7f7f7;
	position: relative;
	z-index: 1;
}
.product-info > .left + .right {
	margin-left: 330px;
}
.product-info .image {
	float: left;
	width: 300px;
	height: 300px;
	margin-bottom: 7px;
	text-align: center;
}
.product-info .image-additional {
	width: 300px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #38B0E3;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	background: #F7F7F7;
	padding: 10px 20px;
	font-size: 22px;
	float: none;
	min-height: inherit;
}
.product-info .price-old {
	text-decoration: line-through;
	color: #A6A4A4;
	font-weight: normal;
	font-size: 17px;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	padding: 10px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
}
.product-info .cart .extra-button {
margin-top:-12px;
display:none;
}
.product-info .button-prod {
background: url(../image/button-2.png) repeat-x left top;
cursor: pointer;
color: #fff;
float: left;
font-size: 16px;
line-height: 28px;
margin: 0 10px 0;
margin-top: 0;
padding: 5px 20px;
text-decoration: none;
text-transform: uppercase;
font-weight: normal;
}
.product-info .button-prod:hover {
	background:#636262;
	text-decoration:none;
	color:#fff;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.product-advantage {
width: 335px;
min-height: 20px;
display: block;
margin-top: 20px;
}
.product-advantage img {

}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
	border:1px solid #ddd;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout {
background-color: #fff;
padding: 15px 25px;
}
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	width:960px;
	overflow: auto;
	padding: 40px 20px;
	background: #161616;
	margin-top: -15px;
}

#footer #pic-vertu {
	float:left;
	margin-top: 15px;
}

#footer h3 {
	color: #fff;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 4px;
	font-weight: 400;
	text-transform: uppercase;
}
#footer .column {
	float: left;
	width:500px;
}

#footer > .column > p {
	color:#9d9e9e;;
	margin:40px 0 0 60px;
	
}
#footer .column ul {
	margin-top: 0px;
	margin-left:40px;
	list-style: none;
}
#footer .column ul li {
	margin-bottom: 3px;
	float: left;
	margin-left: 20px;
}
#footer .column a {
	text-decoration: none;
	color: #9d9e9e;
	font-size: 11px;
}
#footer .column a:hover {
	text-decoration: underline;
}
#footer .column.right {
	float:right;
	width:300px;
	color:#9d9e9e;
	text-align:right;
}

#footer .column.right .phone{
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
}

#footer .column.right a{
font-size:14px;
}

#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
/* box-container */
#content .box-container {
background-color: #fff;
padding: 5px 25px 25px;
border: 1px solid #DBDBDB;
margin-bottom:3px;
}
.display-none {
display:none;
}