.p-uslugi,.step-description
{
	font-family: ubuntu-n3, sans-serif;
}

.h2-uslugi,.step
{
	font-family: ubuntu-n5, sans-serif;
}

#u1789-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1789-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1785-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1785-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1784-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1784-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1788-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1788-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1787-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1787-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1786-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1786-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1770-4,#u1767-4,#u1779-4,#u1775-4,#u1745-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1771-4,#u1778-4,#u1766-4,#u1765-4,#u1774-4,#u1762-4,#u1735-4,#u1562-4,#u1618-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1639-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1605-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1644-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1609-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1636-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1600-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1627-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1622-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1593-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1653-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1657-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1565-3
{
	font-family: ubuntu-n7, sans-serif;
}

#u1712-4,#u1703-4,#u1696-4,#u1520-6,#u1525-4,#u1548-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1561-4,#u1709-6,#u1699-6,#u1692-6,#u1535,#u1545,#u1826-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u1806-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u1818-4
{
	font-family: ubuntu-i3, sans-serif;
}

#widgetu1823_input,#widgetu1823_prompt,#widgetu1802_input,#widgetu1802_prompt,#widgetu1817_input,#widgetu1817_prompt
{
	font-family: ubuntu, sans-serif;
}

#u1727-4,#u1729-4,#u1739-4,#u1740-4,#u1725-4,#u1726-4,#u1743-4,#u1742-4,#u1713-4,#u1700-4,#u1693-4,#u1795-7,#u1798-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1792-4,#u1673-4,#u1671-4,#u1665-4,#u1672-4,#u1674-4,#u1669-6
{
	font-family: ubuntu-n5, sans-serif;
}

