.p-uslugi,.step-description
{
	font-family: ubuntu-n3, sans-serif;
}

.h2-uslugi,.step
{
	font-family: ubuntu-n5, sans-serif;
}

#u665-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u665-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u666-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u666-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u668-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u668-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u667-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u667-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u669-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u669-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u693-4:hover p
{
	font-family: ubuntu-n5, sans-serif;
}

#u693-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u81-4,#u95-4,#u103-4,#u153-4,#u835-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u77-4,#u130-4,#u125-4,#u126-4,#u152-4,#u1420-4,#u228-4,#u486-4,#u1048-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1037-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u938-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u968-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u999-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1005-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1011-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u993-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u911-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u926-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u947-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u982-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u496-3
{
	font-family: ubuntu-n7, sans-serif;
}

#u840-6,#u1411-4,#u1416-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u488-4,#u1415,#u1414,#u450-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u454-4
{
	font-family: ubuntu-i3, sans-serif;
}

#widgetu448_input,#widgetu448_prompt,#widgetu453_input,#widgetu453_prompt
{
	font-family: ubuntu, sans-serif;
}

#u236-4,#u237-4,#u783-4,#u781-4,#u817-4,#u818-4,#u821-4,#u822-4,#u1430-7,#u1442-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u435-4,#u1475-4,#u1474-4,#u1478-4,#u1476-4,#u1479-4,#u1477-6
{
	font-family: ubuntu-n5, sans-serif;
}

