.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3020px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -332px;
}

#u1199-3
{
	z-index: 39;
	width: 31px;
	min-height: 22px;
	margin-left: 800px;
	position: relative;
}

#pu1457
{
	width: 0.01px;
	left: -100px;
	margin-top: 310px;
	position: relative;
}

#u1457
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
}

#u1083
{
	z-index: 5;
	width: 1160px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/bg8.jpg") no-repeat center top;
	background-size: cover !important;
}

#u1083_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 28px;
	padding-bottom: 55px;
}

#pu1157-6
{
	width: 0.01px;
	left: 150px;
	position: relative;
}

#u1157-6
{
	z-index: 22;
	width: 378px;
	min-height: 46px;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1066
{
	z-index: 28;
	width: 404px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u1068-4
{
	z-index: 33;
	width: 404px;
	text-align: right;
	font-size: 16px;
	line-height: 19px;
	color: #FF9C54;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1067-4
{
	z-index: 29;
	width: 372px;
	min-height: 43px;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: right;
	letter-spacing: 1px;
	font-size: 42px;
	line-height: 50px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	margin-left: 32px;
	margin-top: 5px;
	position: relative;
}

#u1080
{
	z-index: 37;
	width: 580px;
	left: 290px;
	margin-top: 174px;
	position: relative;
}

#u1080_img
{
	margin-bottom: -1px;
}

#u1196
{
	z-index: 6;
	width: 1160px;
	border-color: #000000;
	background-color: #FF9C54;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
}

#u1171-4
{
	z-index: 7;
	width: 780px;
	min-height: 40px;
	background-color: #FF9C54;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 38px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u1158
{
	z-index: 4;
	width: 1160px;
	border-color: #7F7F7F;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	background: #FFFFFF url("../images/bg.jpg") repeat left top;
}

#u1158_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 47px;
	padding-bottom: 37px;
}

#u1082-4
{
	z-index: 18;
	width: 820px;
	min-height: 24px;
	background-color: #FF9C54;
	padding-top: 9px;
	padding-bottom: 7px;
	line-height: 29px;
	left: 170px;
	position: relative;
}

#pu1069
{
	width: 0.01px;
	left: 170px;
	margin-top: 50px;
	position: relative;
}

#u1069
{
	z-index: 42;
	width: 272px;
	position: relative;
	margin-right: -10000px;
}

#u1070
{
	z-index: 43;
	width: 225px;
	position: relative;
	margin-right: -10000px;
}

#u1072
{
	z-index: 45;
	width: 223px;
	height: 477px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1071
{
	z-index: 44;
	width: 224px;
	height: 34px;
	border-color: #000000;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("../images/product_shadow.png") no-repeat center top;
}

#u1075-4
{
	z-index: 46;
	width: 204px;
	min-height: 43px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u1078-6
{
	z-index: 50;
	width: 204px;
	min-height: 43px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 10px;
}

#u1079-6
{
	z-index: 56;
	width: 97px;
	min-height: 17px;
	text-align: left;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 15px;
}

#u1076
{
	z-index: 62;
	width: 194px;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 15px;
}

#u1074
{
	z-index: 64;
	width: 157px;
	-pie-box-shadow: 1px 1px 3px #B2B2B2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FF9C54;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 109px;
}

#u1073-7
{
	z-index: 65;
	width: 194px;
	min-height: 17px;
	border-color: #4F4F4F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -18px;
}

#u1160
{
	z-index: 72;
	width: 275px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u1165
{
	z-index: 73;
	width: 224px;
	height: 34px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 1px;
	background: transparent url("../images/product_shadow.png") no-repeat center top;
}

#u1170
{
	z-index: 74;
	width: 209px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	padding: 11px 5px 14.300000000000068px 9px;
}

#u1169-6
{
	z-index: 75;
	width: 204px;
	min-height: 43px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1164-6
{
	z-index: 81;
	width: 204px;
	min-height: 43px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
}

#u1167
{
	z-index: 87;
	width: 194px;
	margin-left: 6px;
	margin-top: 1px;
	position: relative;
}

#u1166-6
{
	z-index: 89;
	width: 204px;
	min-height: 17px;
	text-align: left;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 5px;
	margin-top: 14px;
	position: relative;
}

#u1161
{
	z-index: 95;
	width: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 112px;
}

#u1162
{
	z-index: 96;
	width: 157px;
	-pie-box-shadow: 1px 1px 3px #B2B2B2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FF9C54;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
}

#u1163-7
{
	z-index: 97;
	width: 194px;
	min-height: 17px;
	border-color: #4F4F4F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -18px;
}

#u1054
{
	z-index: 333;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u1063
{
	z-index: 334;
	width: 225px;
	position: relative;
	margin-right: -10000px;
}

#u1065
{
	z-index: 336;
	width: 223px;
	height: 477px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1064
{
	z-index: 335;
	width: 224px;
	height: 34px;
	border-color: #000000;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("../images/product_shadow.png") no-repeat center top;
}

#u1055-4
{
	z-index: 337;
	width: 204px;
	min-height: 43px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u1056-6
{
	z-index: 341;
	width: 204px;
	min-height: 43px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 10px;
}

#u1062-4
{
	z-index: 347;
	width: 102px;
	min-height: 17px;
	text-align: left;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 15px;
}

#u1057
{
	z-index: 351;
	width: 258px;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 14px;
}

#u1060
{
	z-index: 352;
	width: 194px;
	position: relative;
	margin-right: -10000px;
}

#u1058
{
	z-index: 354;
	width: 157px;
	-pie-box-shadow: 1px 1px 3px #B2B2B2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FF9C54;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 95px;
}

#u1059-7
{
	z-index: 355;
	width: 194px;
	min-height: 17px;
	border-color: #4F4F4F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -19px;
}

#pu1183
{
	width: 0.01px;
	left: 170px;
	margin-top: 26px;
	position: relative;
}

#u1183
{
	z-index: 104;
	width: 272px;
	position: relative;
	margin-right: -10000px;
}

#u1188
{
	z-index: 105;
	width: 225px;
	position: relative;
	margin-right: -10000px;
}

#u1190
{
	z-index: 107;
	width: 223px;
	height: 477px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1189
{
	z-index: 106;
	width: 224px;
	height: 34px;
	border-color: #000000;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("../images/product_shadow.png") no-repeat center top;
}

#u1185-4
{
	z-index: 108;
	width: 204px;
	min-height: 43px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u1191-6
{
	z-index: 112;
	width: 204px;
	min-height: 43px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 10px;
}

#u1186-6
{
	z-index: 118;
	width: 97px;
	min-height: 17px;
	text-align: left;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 15px;
}

#u1192
{
	z-index: 124;
	width: 195px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 15px;
}

#u1187
{
	z-index: 126;
	width: 157px;
	-pie-box-shadow: 1px 1px 3px #B2B2B2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FF9C54;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 109px;
}

#u1184-7
{
	z-index: 127;
	width: 194px;
	min-height: 17px;
	border-color: #4F4F4F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -18px;
}

#u1200
{
	z-index: 134;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u1208
{
	z-index: 135;
	width: 225px;
	position: relative;
	margin-right: -10000px;
}

#u1210
{
	z-index: 137;
	width: 223px;
	height: 477px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1209
{
	z-index: 136;
	width: 224px;
	height: 34px;
	border-color: #000000;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("../images/product_shadow.png") no-repeat center top;
}

#u1202-6
{
	z-index: 138;
	width: 204px;
	min-height: 43px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u1204-6
{
	z-index: 144;
	width: 204px;
	min-height: 43px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 10px;
}

#u1201-6
{
	z-index: 150;
	width: 97px;
	min-height: 17px;
	text-align: left;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 15px;
}

#u1206
{
	z-index: 156;
	width: 195px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 14px;
}

#u1203
{
	z-index: 158;
	width: 157px;
	-pie-box-shadow: 1px 1px 3px #B2B2B2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FF9C54;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 109px;
}

#u1205-7
{
	z-index: 159;
	width: 194px;
	min-height: 17px;
	border-color: #4F4F4F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -18px;
}

#u1172
{
	z-index: 166;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u1174
{
	z-index: 167;
	width: 225px;
	position: relative;
	margin-right: -10000px;
}

#u1176
{
	z-index: 169;
	width: 223px;
	height: 477px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1175
{
	z-index: 168;
	width: 224px;
	height: 34px;
	border-color: #000000;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("../images/product_shadow.png") no-repeat center top;
}

#u1173-4
{
	z-index: 170;
	width: 204px;
	min-height: 43px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u1182-6
{
	z-index: 174;
	width: 204px;
	min-height: 43px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 10px;
}

#u1177-6
{
	z-index: 180;
	width: 97px;
	min-height: 17px;
	text-align: left;
	color: #4F4F4F;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 15px;
}

#u1179
{
	z-index: 186;
	width: 194px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 14px;
}

#u1076_img,#u1167_img,#u1060_img,#u1179_img
{
	padding-bottom: 1px;
}

#u1178
{
	z-index: 188;
	width: 157px;
	-pie-box-shadow: 1px 1px 3px #B2B2B2;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FF9C54;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 109px;
}

#u1181-7
{
	z-index: 189;
	width: 194px;
	min-height: 17px;
	border-color: #4F4F4F;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #4F4F4F;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: -19px;
}

#u1073,#u1163,#u1059,#u1184,#u1205,#u1181
{
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	line-height: 17px;
}

#u1073-3,#u1163-3,#u1059-3,#u1184-3,#u1205-3,#u1181-3
{
	line-height: 17px;
}

#u1073-4,#u1163-4,#u1059-4,#u1184-4,#u1205-4,#u1181-4
{
	font-size: 28px;
	color: #FFFFFF;
	line-height: 34px;
}

#pu1195-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1195-3
{
	z-index: 11;
	width: 1160px;
	min-height: 780px;
	border-color: #000000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/bg6.jpg") no-repeat center top;
	background-size: cover !important;
}

#u1198-4
{
	z-index: 14;
	width: 680px;
	min-height: 24px;
	background-color: #FF9C54;
	padding-top: 9px;
	padding-bottom: 7px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 241px;
}

#pamphletu1084
{
	z-index: 196;
	width: 0.01px;
	height: 48px;
	padding-bottom: 542px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 152px;
}

#u1096
{
	position: absolute;
	width: 876px;
	top: 93px;
}

#u1096popup
{
	z-index: 197;
}

#u1111
{
	z-index: 198;
	width: 821px;
	height: 443px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 26px 35px 27px 20px;
}

#u1114
{
	z-index: 201;
	width: 820px;
	position: relative;
	margin-right: -10000px;
}

#pu1118
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1118
{
	z-index: 221;
	width: 104px;
	height: 104px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 70px;
	position: relative;
	background: #FFFFFF url("../images/smart-u1118-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u1119-8
{
	z-index: 202;
	width: 250px;
	min-height: 24px;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u1119-2
{
	line-height: 20px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u1119-4
{
	font-size: 20px;
	line-height: 28px;
	color: #FBB03B;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u1119-6
{
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#pu1117
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u1117
{
	z-index: 222;
	width: 104px;
	height: 104px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 70px;
	position: relative;
	background: #FFFFFF url("../images/handshake-128-u1117-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u1120-6
{
	z-index: 210;
	width: 250px;
	min-height: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 30px;
	position: relative;
}

#u1120-4
{
	color: #FFFFFF;
}

#pu1116
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u1116
{
	z-index: 223;
	width: 104px;
	height: 104px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 70px;
	position: relative;
	background: #FFFFFF url("../images/banknotes-128-u1116-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u1115-5
{
	z-index: 216;
	width: 250px;
	min-height: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 30px;
	position: relative;
}

#u1120-2,#u1115-2
{
	color: #FBB03B;
}

#u1123
{
	z-index: 224;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 210px;
}

#u1121
{
	z-index: 226;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 490px;
}

#u1112
{
	z-index: 199;
	width: 385px;
	margin-left: 218px;
	margin-top: 98px;
	position: relative;
}

#u1097
{
	z-index: 228;
	width: 876px;
	height: 496px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1098
{
	z-index: 241;
	width: 350px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 40px;
}

#pu1100-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 403px;
}

#u1100-6
{
	z-index: 229;
	width: 421px;
	min-height: 94px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1101
{
	z-index: 243;
	width: 360px;
	margin-left: 30px;
	margin-top: 6px;
	position: relative;
}

#pu1107
{
	z-index: 244;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1107
{
	z-index: 0;
	width: 360px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u1107.f3s_top
{
	width: 360px;
	background-image: url("../images/u1107-sprite.png");
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u1107.f3s_mid
{
	background-image: url("../images/u1107-sprite.png");
	overflow: visible;
	background-position: -360px top;
	width: 360px;
	height: 159px;
}

._u1107.f3s_bot
{
	width: 360px;
	background-image: url("../images/u1107-sprite.png");
	overflow: visible;
	height: 10px;
	background-position: -720px top;
}

#ppu1108
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 17px;
	z-index: 2;
	padding-bottom: 12px;
}

#pu1114,#pu1108
{
	width: 0.01px;
	position: relative;
}

#u1108
{
	z-index: 247;
	width: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1102
{
	z-index: 245;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u1105
{
	z-index: 249;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1104-4
{
	z-index: 251;
	width: 301px;
	min-height: 43px;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 32px;
	line-height: 38px;
	color: #282828;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	margin-left: 15px;
	margin-top: 8px;
	position: relative;
}

#u1110-6
{
	z-index: 235;
	width: 421px;
	min-height: 94px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 21px;
	position: relative;
}

#u1100,#u1110,#u1110-3
{
	color: #F7931E;
}

#u1125
{
	z-index: 255;
	width: 738px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 63px 48px 65px 90px;
}

#u1126-4
{
	z-index: 256;
	width: 340px;
	min-height: 23px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 28px;
	position: relative;
}

#u1126
{
	font-size: 18px;
	line-height: 25px;
}

#widgetu1129
{
	z-index: 260;
	width: 0.01px;
	height: 193px;
	margin-top: 38px;
	position: relative;
}

#widgetu1143
{
	z-index: 261;
	width: 340px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1143.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1145-4
{
	z-index: 262;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #F7931E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu1143.fld-err-st #u1145-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1146-3
{
	z-index: 266;
	width: 319px;
	min-height: 24px;
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-style: solid;
	border-color: #737373;
	background-color: #34255B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
	padding: 10px 6px 6px 15px;
	border-width: 1px 0px 0px 1px;
}

#widgetu1143:hover #u1146-3
{
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 319px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1143.focus-st #u1146-3
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
1px 1px 1px #FFFFFF/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px -1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 319px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1143.non-empty-st #u1146-3 *
{
	font-style: normal;
}

#widgetu1143:hover #u1146-3 *
{
	font-style: normal;
}

#widgetu1143.focus-st #u1146-3 *
{
	font-style: normal;
}

#widgetu1143_input
{
	width: 319px;
	min-height: 24px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	padding: 10px 6px 6px 15px;
}

#widgetu1138
{
	z-index: 269;
	width: 340px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: -1px;
}

#widgetu1138.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 74px -10000px 0px 0px;
}

#u1140-4
{
	z-index: 270;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #F7931E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu1138.fld-err-st #u1140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1143.fld-err-st #u1145-4 p,#widgetu1143.fld-err-st #u1145-4 span,#widgetu1138.fld-err-st #u1140-4 p,#widgetu1138.fld-err-st #u1140-4 span
{
	color: #D7244C;
}

#u1139-3
{
	z-index: 274;
	width: 319px;
	min-height: 24px;
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-style: solid;
	border-color: #737373;
	background-color: #34255B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
	padding: 10px 6px 6px 15px;
	border-width: 1px 0px 0px 1px;
}

#widgetu1138:hover #u1139-3
{
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 319px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1138.focus-st #u1139-3
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
1px 1px 1px #FFFFFF/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px -1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 319px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1143.fld-err-st #u1146-3,#widgetu1138.fld-err-st #u1139-3
{
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 319px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1138.non-empty-st #u1139-3 *
{
	font-style: normal;
}

#widgetu1138:hover #u1139-3 *
{
	font-style: normal;
}

#widgetu1138.focus-st #u1139-3 *
{
	font-style: normal;
}

#widgetu1143.fld-err-st #u1146-3 *,#widgetu1138.fld-err-st #u1139-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1138_input
{
	width: 319px;
	min-height: 24px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 10px 6px 6px 15px;
}

#widgetu1143:hover #widgetu1143_input,#widgetu1143.focus-st #widgetu1143_input,#widgetu1143.fld-err-st #widgetu1143_input,#widgetu1138:hover #widgetu1138_input,#widgetu1138.focus-st #widgetu1138_input,#widgetu1138.fld-err-st #widgetu1138_input
{
	padding-top: 10px;
	padding-bottom: 6px;
}

#u1137-4
{
	z-index: 277;
	width: 225px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#widgetu1129.frm-sub-st #u1137-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu1129.frm-sub-st #u1137-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: right;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1136-4
{
	z-index: 281;
	width: 225px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#widgetu1129.frm-subm-err-st #u1136-4 p
{
	color: #D7244C;
	font-size: 14px;
	text-align: right;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1148-4
{
	z-index: 285;
	width: 225px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#widgetu1129.frm-subm-err-st #u1136-4,#widgetu1129.frm-subm-ok-st #u1148-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu1129.frm-subm-ok-st #u1148-4 p
{
	color: #00FF00;
	font-size: 14px;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1149-17
{
	z-index: 289;
	min-height: 58px;
	width: 218px;
	background: url("../images/u1149-17.png") no-repeat 8px 8px;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 62px;
}

#u1149-17:hover
{
	background: url("../images/u1149-17-r.png") no-repeat 0px 0px;
}

#u1149-17:active
{
	background: url("../images/u1149-17-m.png") no-repeat 9px 9px;
}

#widgetu1129.frm-sub-st #u1149-17
{
	background: url("../images/u1149-17-fs.png") no-repeat 8px 8px;
}

#u1127
{
	z-index: 306;
	width: 263px;
	margin-left: 475px;
	top: -309px;
	margin-bottom: -309px;
	position: relative;
}

#u1150
{
	z-index: 308;
	width: 572px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 144px;
}

#u1155
{
	position: absolute;
	width: 194px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 20px 0px 0px 20px ;
	-webkit-border-radius: 20px 0px 0px 20px ;
	-khtml-border-radius: 20px 0px 0px 20px ;
	border-radius: 20px 0px 0px 20px ;
	padding-bottom: 10px;
	top: -13px;
	left: -10px;
}

#u1155:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u1155.PamphletThumbSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #FFFFFF;
	-moz-border-radius: 20px 0px 0px 20px ;
	-webkit-border-radius: 20px 0px 0px 20px ;
	-khtml-border-radius: 20px 0px 0px 20px ;
	border-radius: 20px 0px 0px 20px ;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u1156-4
{
	z-index: 310;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1155:hover #u1156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u1155.PamphletThumbSelected #u1156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u1155:hover #u1156-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	font-style: normal;
}

#u1155.PamphletThumbSelected #u1156-4 p
{
	color: #4F4F4F;
	visibility: inherit;
	font-size: 24px;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	font-style: normal;
}

#u1151
{
	position: absolute;
	width: 194px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 10px;
	top: -13px;
	left: 186px;
}

#u1151:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u1151.PamphletThumbSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u1152-4
{
	z-index: 315;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1151:hover #u1152-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u1151.PamphletThumbSelected #u1152-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u1151.PamphletThumbSelected #u1152-4 p
{
	color: #4F4F4F;
	visibility: inherit;
	font-size: 24px;
	text-align: center;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	font-style: normal;
}

#u1153
{
	position: absolute;
	width: 194px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 0px 20px 20px 0px ;
	-webkit-border-radius: 0px 20px 20px 0px ;
	-khtml-border-radius: 0px 20px 20px 0px ;
	border-radius: 0px 20px 20px 0px ;
	padding-bottom: 10px;
	top: -13px;
	left: 382px;
}

#u1153:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u1153.PamphletThumbSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 20px 20px 0px ;
	-webkit-border-radius: 0px 20px 20px 0px ;
	-khtml-border-radius: 0px 20px 20px 0px ;
	border-radius: 0px 20px 20px 0px ;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u1154-4
{
	z-index: 320;
	width: 180px;
	min-height: 17px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1153:hover #u1154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 10px -10000px 0px 0px;
}

#u1153.PamphletThumbSelected #u1154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 10px -10000px 0px 0px;
}

#u1153:hover #u1154-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1153.PamphletThumbSelected #u1154-4 p
{
	color: #4F4F4F;
	visibility: inherit;
	font-size: 24px;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1159-4
{
	z-index: 362;
	width: 859px;
	min-height: 25px;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 718px;
	left: 151px;
}

#u1194
{
	z-index: 3;
	width: 1160px;
	border-color: #000000;
	padding-bottom: 73px;
	position: relative;
	left: -100px;
	background: #FFFFFF url("../images/money-down-bg.jpg") repeat-x left top;
}

#u1196_align_to_page,#u1194_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1197-9
{
	z-index: 324;
	width: 615px;
	min-height: 136px;
	background-color: #FF9C54;
	padding-left: 14px;
	padding-top: 9px;
	padding-bottom: 7px;
	text-align: left;
	font-size: 34px;
	line-height: 41px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 381px;
}

#u1073-5,#u1163-5,#u1059-5,#u1184-5,#u1205-5,#u1181-5,#u1126-2,#u1197-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1197-5
{
	line-height: 41px;
}

#u1197-6
{
	font-size: 46px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	line-height: 55px;
}

#page .verticalspacer
{
	clear: both;
}

