.ts,.step
{
	font-family: ubuntu-n5, sans-serif;
}

.MAIN-SUB,.H2,.features,.otziv,.step-description,.MENU1
{
	font-family: ubuntu-n3, sans-serif;
}

#u332-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u336-4,#u717-6,#u1456-4,#u905-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u904-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u898-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u899-3
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu901_input,#widgetu895_input
{
	font-family: ubuntu, sans-serif;
}

#u1384-4,#u1399-4,#u1411-6
{
	font-family: ubuntu-n3, sans-serif;
}

#u1384,#u1399,#u1411,#u1411-3
{
	font-family: ubuntu-n5, sans-serif;
}

#u87-6,#u593-6,#u1442-7,#u1444-8,#u1446-8
{
	font-family: ubuntu-n7, sans-serif;
}

