.ts,.step
{
	font-family: ubuntu-n5, sans-serif;
}

.MAIN-SUB,.H2,.features,.otziv,.step-description,.MENU1
{
	font-family: ubuntu-n3, sans-serif;
}

#u1171-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u1157-6,#u1068-4,#u1075-4,#u1078-6,#u1079-6,#u1073,#u1169-6,#u1164-6,#u1166-6,#u1163,#u1055-4,#u1056-6,#u1062-4,#u1059,#u1185-4,#u1191-6,#u1186-6,#u1184,#u1202-6,#u1204-6,#u1201-6,#u1205,#u1173-4,#u1182-6,#u1177-6,#u1181,#u1119-2,#u1119-6,#u1120-6,#u1115-5,#u1100-6,#u1110-6,#u1126-4,#u1145-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1146-3
{
	font-family: ubuntu-n3, sans-serif;
}

#u1140-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1139-3
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1143_input,#widgetu1138_input
{
	font-family: ubuntu, sans-serif;
}

#u1151.PamphletThumbSelected #u1152-4 p,#u1067-4,#u1073-7,#u1163-7,#u1059-7,#u1184-7,#u1205-7,#u1181-7,#u1119-4,#u1104-4,#u1155:hover #u1156-4 p
{
	font-family: ubuntu-n5, sans-serif;
}

#u1155.PamphletThumbSelected #u1156-4 p,#u1156-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1152-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1154-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1159-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1197-6
{
	font-family: ubuntu-n5, sans-serif;
}

