.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1637px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -332px;
}

#u580-3
{
	z-index: 27;
	width: 31px;
	min-height: 22px;
	margin-left: 800px;
	position: relative;
}

#pu1457
{
	width: 0.01px;
	left: -100px;
	margin-top: 310px;
	position: relative;
}

#u1457
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
}

#u594
{
	z-index: 3;
	width: 1160px;
	border-color: #7F7F7F;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
	background: #FFFFFF url("../images/bg.jpg") repeat left top;
}

#u594_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 99px;
	padding-bottom: 68px;
}

#u1430
{
	z-index: 115;
	width: 83px;
	left: 749px;
	position: relative;
}

#u332-4
{
	z-index: 19;
	width: 860px;
	min-height: 43px;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	letter-spacing: 1px;
	font-size: 92px;
	line-height: 110px;
	color: #0D0D0D;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	left: 150px;
	margin-top: 4px;
	position: relative;
}

#u332-4:hover
{
	background-color: #FFFF00;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	margin: 4px 0px 0px;
}

#u336-4
{
	z-index: 23;
	width: 780px;
	min-height: 19px;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #ED1C24;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	left: 195px;
	margin-top: 4px;
	position: relative;
}

#u717-6
{
	z-index: 30;
	width: 380px;
	min-height: 23px;
	text-align: left;
	font-size: 32px;
	line-height: 45px;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	left: 190px;
	margin-top: 494px;
	position: relative;
}

#u1456-4
{
	z-index: 36;
	width: 285px;
	min-height: 23px;
	text-align: left;
	line-height: 14px;
	color: #FF5B5B;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	left: 190px;
	margin-top: 13px;
	position: relative;
}

#u1385-3
{
	z-index: 4;
	width: 1160px;
	min-height: 647px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/bg8.jpg") no-repeat center top;
	background-size: cover !important;
}

#u87-6
{
	z-index: 7;
	width: 860px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 60px;
	line-height: 72px;
	color: #FF9C54;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 150px;
}

#u87-2
{
	color: #FFFFFF;
}

#u593-6
{
	z-index: 13;
	width: 630px;
	min-height: 24px;
	background-color: #FF9C54;
	padding-top: 9px;
	padding-bottom: 7px;
	font-size: 48px;
	line-height: 58px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
	left: 100px;
}

#u593-2
{
	color: #000000;
}

#widgetu893
{
	z-index: 40;
	width: 0.01px;
	height: 193px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1387px;
	left: 600px;
}

#widgetu901
{
	z-index: 41;
	width: 340px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu901.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u905-4
{
	z-index: 42;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #181818;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu901.fld-err-st #u905-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u904-3
{
	z-index: 46;
	width: 319px;
	min-height: 24px;
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #737373;
	background-color: #34255B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	padding: 10px 6px 6px 15px;
}

#widgetu901:hover #u904-3
{
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 20px -10000px 0px 0px;
}

#widgetu901.focus-st #u904-3
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
1px 1px 1px #FFFFFF/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px -1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 20px -10000px 0px 0px;
}

#widgetu901.non-empty-st #u904-3 *
{
	font-style: normal;
}

#widgetu901:hover #u904-3 *
{
	font-style: normal;
}

#widgetu901.focus-st #u904-3 *
{
	font-style: normal;
}

#widgetu901_input
{
	width: 319px;
	min-height: 24px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	padding: 10px 6px 6px 15px;
}

#widgetu895
{
	z-index: 49;
	width: 340px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
}

#widgetu895.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 74px -10000px 0px 0px;
}

#u898-4
{
	z-index: 50;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #181818;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#widgetu895.fld-err-st #u898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu901.fld-err-st #u905-4 p,#widgetu901.fld-err-st #u905-4 span,#widgetu895.fld-err-st #u898-4 p,#widgetu895.fld-err-st #u898-4 span
{
	color: #D7244C;
}

#u899-3
{
	z-index: 54;
	width: 319px;
	min-height: 24px;
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #737373;
	background-color: #34255B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	padding: 10px 6px 6px 15px;
}

#widgetu895:hover #u899-3
{
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 20px -10000px 0px 0px;
}

#widgetu895.focus-st #u899-3
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
1px 1px 1px #FFFFFF/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px -1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(255, 255, 255, 0.51)/* drop shadow*/;
	border-color: #6B6B6B;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 20px -10000px 0px 0px;
}

#widgetu901.fld-err-st #u904-3,#widgetu895.fld-err-st #u899-3
{
	-pie-box-shadow: 1px 1px 1px #FFFFFF;
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.51);
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.51);
	border-color: #D7244C;
	padding-top: 10px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 20px -10000px 0px 0px;
}

#widgetu895.non-empty-st #u899-3 *
{
	font-style: normal;
}

#widgetu895:hover #u899-3 *
{
	font-style: normal;
}

#widgetu895.focus-st #u899-3 *
{
	font-style: normal;
}

#widgetu901.fld-err-st #u904-3 *,#widgetu895.fld-err-st #u899-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu895_input
{
	width: 319px;
	min-height: 24px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 10px 6px 6px 15px;
}

#widgetu901:hover #widgetu901_input,#widgetu901.focus-st #widgetu901_input,#widgetu901.fld-err-st #widgetu901_input,#widgetu895:hover #widgetu895_input,#widgetu895.focus-st #widgetu895_input,#widgetu895.fld-err-st #widgetu895_input
{
	padding-top: 10px;
	padding-bottom: 6px;
}

#u900-4
{
	z-index: 57;
	width: 225px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#widgetu893.frm-sub-st #u900-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: right;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u920-4
{
	z-index: 61;
	width: 225px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#widgetu893.frm-sub-st #u900-4,#widgetu893.frm-subm-err-st #u920-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu893.frm-subm-err-st #u920-4 p
{
	color: #D7244C;
	font-size: 14px;
	text-align: right;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u921-4
{
	z-index: 65;
	width: 225px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#widgetu893.frm-subm-ok-st #u921-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu893.frm-subm-ok-st #u921-4 p
{
	color: #00FF00;
	font-size: 14px;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u894-17
{
	z-index: 69;
	min-height: 58px;
	width: 218px;
	background: url("../images/u894-17.png") no-repeat 8px 8px;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 62px;
}

#u894-17:hover
{
	background: url("../images/u894-17-r.png") no-repeat 0px 0px;
}

#u894-17:active
{
	background: url("../images/u894-17-m.png") no-repeat 9px 9px;
}

#widgetu893.frm-sub-st #u894-17
{
	background: url("../images/u894-17-fs.png") no-repeat 8px 8px;
}

#pamphletu1317
{
	z-index: 86;
	width: 0.01px;
	height: 14px;
	padding-bottom: 431px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 150px;
}

#u1320
{
	position: absolute;
	width: 860px;
	top: 15px;
}

#u1320popup
{
	z-index: 87;
}

#u1373
{
	z-index: 88;
	width: 860px;
	height: 431px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1384-4
{
	z-index: 89;
	width: 335px;
	min-height: 177px;
	background-color: #0071BC;
	padding: 15px;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 40px;
}

#u1375
{
	z-index: 93;
	width: 490px;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 299px;
}

#u1387
{
	z-index: 95;
	width: 860px;
	height: 431px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1399-4
{
	z-index: 96;
	width: 415px;
	min-height: 164px;
	background-color: #F4070D;
	padding: 15px;
	line-height: 55px;
	color: #FFFFFF;
	font-size: 46px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 8px;
}

#u1394
{
	z-index: 100;
	width: 541px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u1401
{
	z-index: 102;
	width: 860px;
	height: 431px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1411-6
{
	z-index: 103;
	width: 414px;
	min-height: 89px;
	background-color: #FFFF00;
	padding: 15px;
	text-align: right;
	font-size: 42px;
	line-height: 50px;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 348px;
}

#u1384,#u1399,#u1411,#u1411-3
{
	font-family: ubuntu, sans-serif;
	font-weight: 500;
}

#u1406
{
	z-index: 109;
	width: 395px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 58px;
}

#u1342
{
	z-index: 111;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	left: 395px;
}

#u1371
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u1371:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	margin: 0px;
}

#u1371:active
{
	border-color: #6B6B6B;
	background-color: #F7931E;
	margin: 0px;
}

#u1386
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 28px;
}

#u1386:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	margin: 0px;
}

#u1386:active
{
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	margin: 0px;
}

#u1371.PamphletThumbSelected,#u1386.PamphletThumbSelected
{
	border-color: #000000;
	background-color: #F7931E;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin: 0px;
}

#u1400
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 57px;
}

#u1400:hover
{
	border-color: #6B6B6B;
	background-color: #F7931E;
	margin: 0px;
}

#u1400:active
{
	border-color: #6B6B6B;
	background-color: #F7931E;
	margin: 0px;
}

#u1400.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #F7931E;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1437
{
	z-index: 117;
	width: 1160px;
	border-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1049px;
	background: #FFFFFF url("../images/bg6.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1437_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1437_position_content
{
	margin-top: -77px;
	margin-bottom: 22px;
}

#u1452
{
	z-index: 118;
	width: 727px;
	left: 208px;
	position: relative;
}

#u1450
{
	z-index: 129;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u1436
{
	z-index: 130;
	width: 180px;
	border-color: #000000;
	background-color: #F7931E;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u1442-7
{
	z-index: 131;
	width: 155px;
	min-height: 130px;
	text-align: center;
	line-height: 36px;
	font-size: 40px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 13px;
}

#u1442-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1442
{
	font-size: 90px;
	line-height: 81px;
}

#u1442-3
{
	line-height: 36px;
}

#u1442-4
{
	font-size: 24px;
	color: #FFFFFF;
	line-height: 22px;
}

#u1448
{
	z-index: 138;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u1443
{
	z-index: 139;
	width: 180px;
	border-color: #000000;
	background-color: #F15A24;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u1444-8
{
	z-index: 140;
	width: 162px;
	min-height: 91px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 9px;
}

#u1444-2
{
	font-size: 16px;
	line-height: 16px;
}

#u1444-4
{
	font-size: 52px;
	line-height: 52px;
	color: #FFFFFF;
}

#u1444-6
{
	font-size: 24px;
	line-height: 24px;
}

#u1447
{
	z-index: 119;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	left: 547px;
}

#u1445
{
	z-index: 120;
	width: 180px;
	border-color: #000000;
	background-color: #ED1C24;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u1446-8
{
	z-index: 121;
	width: 215px;
	min-height: 91px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -18px;
}

#u1446-2
{
	font-size: 24px;
	line-height: 26px;
	color: #FFFFFF;
}

#u1446-4
{
	font-size: 34px;
	line-height: 37px;
}

#u1446-6
{
	font-size: 24px;
	line-height: 26px;
}

#u286
{
	z-index: 148;
	width: 385px;
	left: 388px;
	margin-top: 36px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

