#u111-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u362-5,#u130-6,#u387-6,#u393-2,#u391-2
{
	font-family: ubuntu-n7, sans-serif;
}

#u368-4,#u70-4,#u395-11,#u397-11,#u203-4,#u497-4,#u496-4,#u499-4,#u493-4,#u491-4,#u483-4,#u484-4,#u485-4,#u486-4,#u487-4,#u568-4,#u576-4,#u574-6,#u582-4,#u577-4,#u584-4,#u586-4,#u588-4,#u590-4,#u592-4,#u618-6,#u657-6,#u660-6,#u662-6
{
	font-family: ubuntu-n3, sans-serif;
}

#u90.PamphletThumbSelected #u111-4 p,#u393-7,#u391-7,#u446-4,#u532-4,#u541-4,#u540-4,#u543-10,#u545-10,#u619-4,#u626-4,#u627-4,#u656-4,#u708.PamphletThumbSelected #u709-4 p
{
	font-family: ubuntu-n5, sans-serif;
}

#u202-8,#u709-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u694-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

